@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
}

body {
    background-color: black;
    color: yellow;
    margin: 50px;
}

main {
    display: block;
    background-color: rgb(24, 24, 24);
    width: 500px;
    height: 250px;
    margin: 50px;
    padding: 30px;
    font: normal 16px Roboto, monospace;
    text-align: center;
    border: 3px dotted yellow;
    border-radius: 25px;
    line-height: 50px;
}

input {
    line-height: 1.5;
    font-size: 16px;
}

button {
    height: 30px;
    width: 100px;
    background-color: yellow;
    border: 1px solid yellow;
    border-radius: 25px;
    color: black;
    font: bold 16px Roboto, monospace;
}